<%-include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">


</section>
<section class="vehicles" id="vehicles" >

    <h1 class="heading"> Search  <span>Result</span> </h1>

    <div class="swiper vehicles-slider">

        <div class="swiper-wrapper">
            <%for(var i=0;i<Products.length;i++){%>
            <div class="swiper-slide box">
                <img src="<%=Products[i].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[i].nameProduct%></h3>
                    <div class="price"> <span>price : </span> $<%=Products[i].buyNow%>/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 98mph
                    </p>
                    <a href="/product-detail/<%=Products[i].ID%>" class="btn">See details</a>
                </div>
            </div>
            <%}%>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<%- include("footer.ejs") %>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>