
<%-include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">


</section>
<section class="featured" id="featured">

    <h1 class="heading"> <span>featured</span> cars </h1>
    <h2><span>Gasoline Engine</span></h2>
    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
            <%for(var i=0; i<5;i++){%>
            <div class="swiper-slide box">
                <img src="<%=Products[i].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[i].nameProduct%></h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$<%=Products[i].buyNow%></div>
                    <a href="/product-detail/<%=Products[i].ID%>" class="btn">DEPOSIT NOW</a>
                </div>
            </div>
<%}%>

        </div>
        <div class="swiper-pagination"></div>
    </div>
    <h2><span>Electric motor</span></h2>
    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
            <%for(var i=0;i<7;i++){%>
            <div class="swiper-slide box">
                <img src="<%=Products[i].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[i].nameProduct%></h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$<%=Products[i].buyNow%></div>
                    <a href="/product-detail/<%=Products[i].ID%>" class="btn">DEPOSIT NOW</a>
                </div>
            </div>

<%}%>



        <div class="swiper-pagination"></div>

    </div>
    </div>
</section>

<section class="newsletter">

    <h3>subscribe for latest updates</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit.</p>

    <form action="">
        <input type="email" placeholder="enter your email">
        <input type="submit" value="subscribe">
    </form>

</section>

<%- include("footer.ejs") %>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/main.js"></script>

</body>
</html>