
  <%- include("header.ejs") %>

    <%-include("login.ejs")%>
<body>
<section class="home" id="home">

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <video playsinline="" autoplay="" muted="" loop="" id="video-vinfast-banner" poster="/"><source src="https://storage.googleapis.com/cms_data_public/%5B3MB%20Web%5D%2020220106_Vinfast_VF8_VF9.mov" type="video/mp4"></video>

</section>

<!--<section class="icons-container">-->
<!--    <div class="icons">-->
<!--        <i class="fas fa-home"></i>-->
<!--        <div class="content">-->
<!--            <h3>2022+</h3>-->
<!--            <p>branches</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="icons">-->
<!--        <i class="fas fa-car"></i>-->
<!--        <div class="content">-->
<!--            <h3>6868+</h3>-->
<!--            <p>cars sold</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="icons">-->
<!--        <i class="fas fa-users"></i>-->
<!--        <div class="content">-->
<!--            <h3>5555+</h3>-->
<!--            <p>happy clients</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="icons">-->
<!--        <i class="fas fa-car"></i>-->
<!--        <div class="content">-->
<!--            <h3>10+</h3>-->
<!--            <p>news cars</p>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->

<%- include("Vehicles.ejs") %>
<%- include("Services.ejs") %>
<%- include("Featured.ejs") %>




<section class="newsletter">

    <h3>subscribe for latest updates</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit.</p>

    <form action="">
        <input type="email" placeholder="enter your email">
        <input type="submit" value="subscribe">
    </form>

</section>

<%- include("Review.ejs") %>
<%- include("Contact.ejs") %>



<%- include("footer.ejs") %>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/index.js"></script>

</body>
</html>