<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pixner.net/sbidu/main/product.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Mar 2022 05:53:08 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>auction</title>
    <%-include('head.ejs')%>
</head>
<body>
<%- include('header.ejs')%>
<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">Pages</a>
            </li>
            <li>
                <span>Vehicles</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="assets/images/banner/hero-bg.png" style="background-image: url(&quot;./assets/images/banner/hero-bg.png&quot;);"></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Featured Auction Section Starts Here =============-->
<section class="featured-auction-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="section-header cl-white mw-100 left-style">
            <h3 class="title">Auction is about to end !</h3>
        </div>
        <div class="row justify-content-start mb-30-none">
            <script type="text/javascript">
                var tEnd=[],counDownDate=[],ID=[],x=[],now=[],distance=[],days=[],hours=[],minutes=[],seconds=[];
            </script>
            <%for(var i=0;i<product_top3.length;i++){ %>
            <div class="col-sm-10 col-md-6 col-lg-4 " id="<%=product_top3[i].ID%>" >
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="/productDetail/ <%= product_top3[i].ID %> " ><img src="<%=product_top3[i].img1%>" alt="car" ></a>
                        <a href="/productDetail/ <%= product_top3[i].ID %> " class="rating"><i class="far fa-star"></i></a>
                        <a href="/productDetail/ <%= product_top3[i].ID %> " class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="#0"><%=product_top3[i].nameProduct%></a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount"><%=product_top3[i].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">$<%= product_top3[i].buyNow %></div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_<%=product_top3[i].ID%>counter">
                                </div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">Submit a bid</a>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                //time down
                // Set the date we're counting down to
                tEnd[<%-JSON.stringify(product_top3[i].ID)%>] = <%- JSON.stringify(product_top3[i].timeEnd)%> ;
                counDownDate[<%-JSON.stringify(product_top3[i].ID)%>] = new Date(tEnd[ <%-JSON.stringify(product_top3[i].ID)%> ]).getTime();
                // Update the count down every 1 second
                x[<%-JSON.stringify(product_top3[i].ID)%>] = setInterval(function() {
                    // Get today's date and time
                    now[<%-JSON.stringify(product_top3[i].ID)%>] = new Date().getTime();
                    // Find the distance between now and the count down date
                    distance[<%-JSON.stringify(product_top3[i].ID)%>] = counDownDate[<%-JSON.stringify(product_top3[i].ID)%>] - now[<%-JSON.stringify(product_top3[i].ID)%>];
                    // Time calculations for days, hours, minutes and seconds
                    days[<%-JSON.stringify(product_top3[i].ID)%>] = Math.floor(distance[<%-JSON.stringify(product_top3[i].ID)%>] / (1000 * 60 * 60 * 24));
                    hours[<%-JSON.stringify(product_top3[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(product_top3[i].ID)%>] % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    minutes[<%-JSON.stringify(product_top3[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(product_top3[i].ID)%>] % (1000 * 60 * 60)) / (1000 * 60));
                    seconds[<%-JSON.stringify(product_top3[i].ID)%>] = Math.floor((distance[<%-JSON.stringify(product_top3[i].ID)%>] % (1000 * 60)) / 1000);
                    // Output the result in an element with id="demo"
                    document.getElementById("bid_<%-JSON.stringify(product_top3[i].ID)%>counter").innerHTML = days[<%-JSON.stringify(product_top3[i].ID)%>] + "d :" + hours[<%-JSON.stringify(product_top3[i].ID)%>] + "h : "
                        + minutes[<%-JSON.stringify(product_top3[i].ID)%>] + " m :" + seconds[<%-JSON.stringify(product_top3[i].ID)%>] + "s  ";
                    // If the count down is over, write some text
                    if (distance[<%-JSON.stringify(product_top3[i].ID)%>] < 0) {
                        clearInterval(x[<%-JSON.stringify(product_top3[i].ID)%>]);
                        document.getElementById("bid_<%-JSON.stringify(product_top3[i].ID)%>counter").innerHTML = "AUCTION ENDED";
                    }
                }, 1000);
                //end timedown
            </script>
            <%}%>
        </div>
    </div>
</section>
<!--============= Featured Auction Section Ends Here =============-->
<!--============= Product Auction Section Starts Here =============-->
<div class="product-auction padding-bottom">
    <div class="container">
        <div class="product-header mb-40">
            <div class="product-header-item">
                <div class="item">Sort By : </div>
                <select name="sort-by" class="select-bar">
                    <option value="all">All</option>
                    <option value="name">Name</option>
                    <option value="date">Date</option>
                    <option value="type">Type</option>
                    <option value="car">Car</option>
                </select>
            </div>
            <div class="product-header-item">
                <div class="item">Show : </div>
                <select name="sort-by" class="select-bar">
                    <option value="09">09</option>
                    <option value="21">21</option>
                    <option value="30">30</option>
                    <option value="39">39</option>
                    <option value="60">60</option>
                </select>
            </div>
            <form class="product-search ml-auto">
                <input type="text" placeholder="Item Name">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="row mb-30-none justify-content-start">
            <script type="text/javascript">
                var tEnd2=[],counDownDate2=[],ID2=[],x2=[],now2=[],distance2=[],days2=[],hours2=[],minutes2=[],seconds2=[];
            </script>
            <%for(var i=0;i< product_bottom.length;i++){ %>
            <div class="col-sm-10 col-md-6 col-lg-4" style="margin-bottom: 50px">
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="/productDetail/<%=product_bottom[i].ID%>"><img src="<%=product_bottom[i].img1%>" alt="product"></a>
                        <a href="/productDetail/<%=product_bottom[i].ID%>" class="rating"><i class="far fa-star"></i></a>
                        <a href="/productDetail/<%=product_bottom[i].ID%>" class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="/productDetail/<%=product_bottom[i].ID%>"> <%=product_bottom[i].nameProduct%></a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">$<%=product_bottom[i].priceCurrent%></div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">$<%=product_bottom[i].buyNow%></div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_<%=product_bottom[i].ID%>counter2"></div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">Submit a bid</a>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                //time down
                // Set the date we're counting down to
                tEnd2[<%-JSON.stringify(product_bottom[i].ID)%>] = <%- JSON.stringify(product_bottom[i].timeEnd)%> ;
                counDownDate2[<%-JSON.stringify(product_bottom[i].ID)%>] = new Date(tEnd2[ <%-JSON.stringify(product_bottom[i].ID)%> ]).getTime();
                // Update the count down every 1 second
                x2[<%-JSON.stringify(product_bottom[i].ID)%>] = setInterval(function() {
                    // Get today's date and time
                    now2[<%-JSON.stringify(product_bottom[i].ID)%>] = new Date().getTime();
                    // Find the distance between now and the count down date
                    distance2[<%-JSON.stringify(product_bottom[i].ID)%>] = counDownDate2[<%-JSON.stringify(product_bottom[i].ID)%>] - now2[<%-JSON.stringify(product_bottom[i].ID)%>];
                    // Time calculations for days, hours, minutes and seconds
                    days2[<%-JSON.stringify(product_bottom[i].ID)%>] = Math.floor(distance2[<%-JSON.stringify(product_bottom[i].ID)%>] / (1000 * 60 * 60 * 24));
                    hours2[<%-JSON.stringify(product_bottom[i].ID)%>] = Math.floor((distance2[<%-JSON.stringify(product_bottom[i].ID)%>] % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    minutes2[<%-JSON.stringify(product_bottom[i].ID)%>] = Math.floor((distance2[<%-JSON.stringify(product_bottom[i].ID)%>] % (1000 * 60 * 60)) / (1000 * 60));
                    seconds2[<%-JSON.stringify(product_bottom[i].ID)%>] = Math.floor((distance2[<%-JSON.stringify(product_bottom[i].ID)%>] % (1000 * 60)) / 1000);
                    // Output the result in an element with id="demo"
                    document.getElementById("bid_<%-JSON.stringify(product_bottom[i].ID)%>counter2").innerHTML = days2[<%-JSON.stringify(product_bottom[i].ID)%>] + "d :" + hours2[<%-JSON.stringify(product_bottom[i].ID)%>] + "h : "
                        + minutes2[<%-JSON.stringify(product_bottom[i].ID)%>] + " m :" + seconds2[<%-JSON.stringify(product_bottom[i].ID)%>] + "s  ";
                    // If the count down is over, write some text
                    if (distance2[<%-JSON.stringify(product_bottom[i].ID)%>] < 0) {
                        clearInterval(x[<%-JSON.stringify(product_bottom[i].ID)%>]);
                        document.getElementById("bid_<%-JSON.stringify(product_bottom[i].ID)%>counter").innerHTML = "AUCTION ENDED";
                    }
                }, 1000);
                //end timedown
            </script>
            <%}%>
        </div>
    </div>
</div>
<%-include('footer.ejs')%>
</body>
</html>