
<%- include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <video playsinline="" autoplay="" muted="" loop="" id="video-vinfast-banner" poster="/"><source src="https://storage.googleapis.com/cms_data_public/%5B3MB%20Web%5D%2020220106_Vinfast_VF8_VF9.mov" type="video/mp4"></video>

</section>

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-home"></i>
        <div class="content">
            <h3>2022+</h3>
            <p>branches</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-car"></i>
        <div class="content">
            <h3>6868+</h3>
            <p>cars sold</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <div class="content">
            <h3>5555+</h3>
            <p>happy clients</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-car"></i>
        <div class="content">
            <h3>10+</h3>
            <p>news cars</p>
        </div>
    </div>

</section>

<section class="vehicles" id="vehicles">

    <h1 class="heading"> popular <span>vehicles</span> </h1>

    <div class="swiper vehicles-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/fadil2.png" alt="">
                <div class="content">
                    <h3>FADIL</h3>
                    <div class="price"> <span>price : </span> $29,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 98mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/luxa2.0.2.png" alt="">
                <div class="content">
                    <h3>LUX A2.0</h3>
                    <div class="price"> <span>price : </span> $42,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 228mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/luxsa2.0.2.png" alt="">
                <div class="content">
                    <h3>SA2.0</h3>
                    <div class="price"> <span>price : </span> $52,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 228mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/president2.png" alt="">
                <div class="content">
                    <h3>President</h3>
                    <div class="price"> <span>price : </span> $159,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 420mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/vfe34.jpg" alt="">
                <div class="content">
                    <h3>VFe34</h3>
                    <div class="price"> <span>price : </span> $29,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> electric
                        <span class="fas fa-circle"></span> 147mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/vf92.png" alt="">
                <div class="content">
                    <h3>VF9</h3>
                    <div class="price"> <span>price : </span> $61,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> electric
                        <span class="fas fa-circle"></span> 402mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-car"></i>
            <h3>car selling</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-tools"></i>
            <h3>parts repair</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-crash"></i>
            <h3>car insurance</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-battery"></i>
            <h3>battery replacement</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-gas-pump"></i>
            <h3>oil change</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-headset"></i>
            <h3>24/7 support</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            <a href="#" class="btn"> read more</a>
        </div>

    </div>

</section>

<section class="featured" id="featured">

    <h1 class="heading"> <span>featured</span> cars </h1>
    <h2><span>Gasoline engine</span></h2>
    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/fadil2.png" alt="">
                <div class="content">
                    <h3>FADIL</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$29,000/-</div>
                    <a href="#" class="btn">DEPOSIT NOW</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/luxa2.0.2.png" alt="">
                <div class="content">
                    <h3>LUX A2.0</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$42,000/-</div>
                    <a href="#" class="btn">DEPOSIT NOW</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/luxsa2.0.2.png" alt="">
                <div class="content">
                    <h3>LUX SA2.0</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$52,000/-</div>
                    <a href="#" class="btn">DEPOSIT NOW</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/president2.png" alt="">
                <div class="content">
                    <h3>PRESIDENT</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$159,000/-</div>
                    <a href="#" class="btn">DEPOSIT NOW</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>
    <h2><span>Electric motor</span></h2>
    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/vfe34.jpg" alt="">
                <div class="content">
                    <h3>VFe34</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$29,000/-</div>
                    <a href="#" class="btn">DEPOSIT NOW</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/vf8.png" alt="">
                <div class="content">
                    <h3>VF8</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$45,000/-</div>
                    <a href="#" class="btn">DEPOSIT NOW</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/vf92.png" alt="">
                <div class="content">
                    <h3>VF9</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$61,000/-</div>
                    <a href="#" class="btn">DEPOSIT NOW</a>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="newsletter">

    <h3>subscribe for latest updates</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit.</p>

    <form action="">
        <input type="email" placeholder="enter your email">
        <input type="submit" value="subscribe">
    </form>

</section>

<section class="reviews" id="reviews">

    <h1 class="heading"> client's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/pic-1.png" alt="">
                <div class="content">
                    <p>Nice car.</p>
                    <h3>Kobe Bryant</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-2.png" alt="">
                <div class="content">
                    <p>I like the interior.</p>
                    <h3>Michael Jordan</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-3.png" alt="">
                <div class="content">
                    <p>The exterior is outstanding.</p>
                    <h3>Roger Federer</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-4.png" alt="">
                <div class="content">
                    <p>The speed is amazing.</p>
                    <h3>Barry Allen</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-5.png" alt="">
                <div class="content">
                    <p>VFe34 protects the environment.</p>
                    <h3>Donald Trump</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-6.png" alt="">
                <div class="content">
                    <p>I like the President model. My family of 5 can fit in comfortably.</p>
                    <h3>Ngoc Trinh</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="contact" id="contact">

    <h1 class="heading"><span>contact</span> us</h1>

    <%for(var i=0;i<Products_top1.length;i++){ %>
    <div class="swiper-slide box" id="<%=product_top1[i].ID%>">
        <img src="<%=Products_top1[i].img1%>" alt="">
        <div class="content">
            <h3><%=Products_top1[i].nameProduct%></h3>
            <div class="price convertMon" > <span>price : </span> $<%=Products_top1[i].buyNow%> </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> 98mph
            </p>
            <a href="/product-detail" class="btn">See details</a>
        </div>
    </div>

</section>
<section class="footer" id="footer">
    <%- include("footer.ejs") %>
</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/index.js"></script>

</body>
</html>

<form action='/test' method={port}>
    <input type="name" className="" name="nameProduct">
</form>