<section class="vehicles" id="vehicles">

    <h1 class="heading"> popular <span>vehicles</span> </h1>

    <div class="swiper vehicles-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="<%=Products[4].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[4].nameProduct%></h3>
                    <div class="price"> <span>price : </span> <%=Products[4].buyNow%>/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 98mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="<%=Products[1].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[1].nameProduct%></h3>
                    <div class="price"> <span>price : </span> <%=Products[1].buyNow%>/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 228mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="<%=Products[2].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[2].nameProduct%></h3>
                    <div class="price"> <span>price : </span> <%=Products[2].buyNow%>/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 228mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="<%=Products[3].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[3].nameProduct%></h3>
                    <div class="price"> <span>price : </span> <%=Products[3].buyNow%> </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 420mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="<%=Products[5].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[5].nameProduct%></h3>
                    <div class="price"> <span>price : </span> <%=Products[5].buyNow%>/- </div>
                    <p>
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> electric
                        <span class="fas fa-circle"></span> 147mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="<%=Products[6].img1%>" alt="">
                <div class="content">
                    <h3><%=Products[6].nameProduct%></h3>
                    <div class="price"> <span>price : </span> <%=Products[6].buyNow%>/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 2021
                        <span class="fas fa-circle"></span> automatic
                        <span class="fas fa-circle"></span> electric
                        <span class="fas fa-circle"></span> 402mph
                    </p>
                    <a href="#" class="btn">See details</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>